*{
    display: block;
    margin: 50px;
}

root{
    border: 1px solid black;
    padding-bottom: 50px;
}

title{
    font-size: 32px;
    margin-left: 40%;
    font-weight: bold;
    text-decoration: underline;
}

subtitle{
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 10px;
    font-style: italic;
}

p{
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
}

list{
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 5px;
    list-style: disc;
    display: list-item;
}

sublist{
    margin-top: 5px;
    margin-left: 125px;
    margin-bottom: 5px;
    list-style: square;
    display: list-item;
}